$icomoon-font-family: "icons0005" !default;
$icomoon-font-path: "fonts" !default;

$icon-eye-slash1: "\e900";
$icon-eye2: "\e901";
$icon-chat: "\e902";
$icon-send: "\e903";
$icon-star_e: "\e904";
$icon-star: "\e905";
$icon-thumb_v: "\e906";
$icon-options: "\e907";
$icon-pending: "\e908";
$icon-previous: "\e909";
$icon-profile: "\e90a";
$icon-profile2: "\e90b";
$icon-search: "\e90c";
$icon-expand: "\e90d";
$icon-list_v: "\e90e";
$icon-lock: "\e90f";
$icon-menu: "\e910";
$icon-more: "\e911";
$icon-delete: "\e912";
$icon-close: "\e913";
$icon-checkmark: "\e914";
$icon-add_photo: "\e915";