$icomoon-font-path: "fonts" !default;

$icon-back: "\e932";
$icon-close: "\e933";
$icon-btn-check-active-path1: "\e900";
$icon-btn-check-active-path2: "\e901";
$icon-btn-check-inactive: "\e902";
$icon-btn-close-path1: "\e903";
$icon-btn-close-path2: "\e904";
$icon-btn-deny: "\e905";
$icon-btn-ellipsis: "\e906";
$icon-btn-favorite-false-path1: "\e907";
$icon-btn-favorite-false-path2: "\e908";
$icon-btn-favorite-true-path1: "\e909";
$icon-btn-favorite-true-path2: "\e90a";
$icon-btn-message-active-path1: "\e90b";
$icon-btn-message-active-path2: "\e90c";
$icon-btn-message-empty-path1: "\e90d";
$icon-btn-message-empty-path2: "\e90e";
$icon-checkboxchecked-path1: "\e90f";
$icon-checkboxchecked-path2: "\e910";
$icon-back-arrow: "\e911";
$icon-camera: "\e912";
$icon-checklist-path1: "\e913";
$icon-checklist-path2: "\e914";
$icon-checklist-path3: "\e915";
$icon-checklist-path4: "\e916";
$icon-checklist-path5: "\e917";
$icon-envelope-path1: "\e918";
$icon-envelope-path2: "\e919";
$icon-envelope-path3: "\e91a";
$icon-envelope-path4: "\e91b";
$icon-hide: "\e91c";
$icon-likes-filled: "\e91d";
$icon-likes-open: "\e91e";
$icon-lists: "\e91f";
$icon-money-path1: "\e920";
$icon-money-path2: "\e921";
$icon-padlock-locked: "\e922";
$icon-icon-padlock-unlocked: "\e923";
$icon-pencil-path1: "\e924";
$icon-pencil-path2: "\e925";
$icon-pencil-path3: "\e926";
$icon-report: "\e927";
$icon-search-path1: "\e928";
$icon-search-path2: "\e929";
$icon-logo-facebook: "\e92a";
$icon-logo-googleplus: "\e92b";
$icon-logo-mail-path1: "\e92c";
$icon-logo-mail-path2: "\e92d";
$icon-logo-mail-path3: "\e92e";
$icon-logo-mail-path4: "\e92f";
$icon-logo-twitter: "\e930";
$icon-shape: "\e931";

